In [5]:
name = "sriram"

print(name.upper())
print(type(name))

SRIRAM
<class 'str'>

In [11]:
firstname = "srinivas"
lastname = "Krish  "

fullname = firstname + lastname

print(fullname*5 )

srinivasKrish  srinivasKrish  srinivasKrish  srinivasKrish  srinivasKrish

In [18]:
Name = "srinivas"

print(Name[3])
print(Name[0:5])

n
srini

In [26]:
name = "narayana"

'r' in name
's' in name
"y" in name

print('y' not in name)

False

In [28]:
# [:] symbol is used for string slicing

name = "sriram"
print(name[3:6])

ram

In [32]:
# String Formating
name = "sriram"
age = 9
height = 4.5
print("my name is",name,"my age is",age,"my height is",height )


print("my name is", name)
print("my age is", age)
print("my height is",height)

my name is sriram my age is 9 my height is 4.5
my name is sriram
my age is 9
my height is 4.5

In [33]:
print("my name is {} my age is {} years my height is {} feet".format(name,age,height))

my name is sriram my age is 9 years my height is 4.5 feet

In [48]:
name = "sriram"

print(name.find('s'))
print(name.find('r'))
print(name.find('i'))
print(name.find('r'))
print(name.find('a'))
print(name.find('m'))

0
1
2
1
4
5

In [49]:
name = "sriram"

print(len(name))

6

In [51]:
name = "sriram"
print(name.lower())
print(name.upper())

sriram
SRIRAM

In [56]:
name = "sriram      "
print(name)
print(name.lstrip())
print(name.rstrip())

sriram
sriram
sriram

In [59]:
name = "sriram"

print(name.replace(name,"srinivas"))
print(name)

srinivas
sriram

In [61]:
name = "C is good programming language"

print(name)

print(name.split())

C is good programming language
['C', 'is', 'good', 'programming', 'language']

In [70]:
#List Data Type

list = [3,4,5,6,7,8,45]

print(list)

[3, 4, 5, 6, 7, 8, 45]

In [81]:
#List Indexing "[]"

list1 = [58,64,89,74]

print(type(list1))

print(list1[0])
print(list1[1])
print(list1[2])
print(list1[3])

<class 'list'>
58
64
89
74

In [82]:
#list slicing "[:]"

list2 = [6,8,7,4,2,9]
list2[1:5]

[8, 7, 4, 2]

In [85]:
x = 25

formatted = f"my age is {x}"

print(formatted)

my age is 25

In [87]:
x = 15
formatted = "my age is {}".format(x)

print(formatted)

my age is 15

In [89]:
name = "rohit"
age = 22

formatted = "hi {1}, your age is {0}".format(age,name)

print(formatted)

hi rohit, your age is 22

In [91]:
decimal = 14.6545
integer = int(decimal)

integer

14

In [93]:
mylist = [1,2,3,4]
type(mylist)

list

In [96]:
num = 46

type(num)

num = float(num)

num

46.0

In [98]:
name = "rohit"

name[0] = 'M'
print(name)

TypeError: 'str' object does not support item assignment

In [102]:
name = "rohit "
lastname = "kumar"

fullname = name + lastname

print(fullname)
print(type(fullname))

rohit kumar
<class 'str'>

In [108]:
#Built-in Functions

name = "Rohit Kumar"

len(name)

len("Rohit Kumar")

len("123456778931234")

15

In [109]:
#String Methods

name = "my name is Rohit"

name.upper()

'MY NAME IS ROHIT'

In [110]:
name.capitalize()

'My name is rohit'

In [111]:
name.lower()

'my name is rohit'

In [112]:
name.find("is")

8

In [114]:
name.replace("rohit","Srinivas")

name

'my name is Rohit'

In [115]:
print(name)

my name is Rohit

In [124]:
new_line = name.replace("srinivas","rohit")

print(new_line)

print(name)

id(name)

my name is Rohit
my name is Rohit

2165584552304

In [125]:
#Getting User Input

name = input("what is your name: ")

print(name)

what is your name: Srinivas
Srinivas

In [127]:
age = input("what is your age: ")
print(age)

type(age)

what is your age: 27
27

str

In [130]:
abc = '1'
cde = '1'

print(id(abc))
print(id(cde))

2165484344944
2165484344944

In [131]:
a = [1,2,3]
b = [1,2,3]

a == b

True

In [132]:
True == 1

True

In [133]:
'' == 1

False

In [134]:
[] == 1

False

In [135]:
10 == 10.0

True

In [136]:
int(10) == float(10)

True

In [137]:
[] == []

True

In [139]:
# List Methods
list = [4,5,6,7,8,9,74]

print(type(list))
print(list)

<class 'list'>
[4, 5, 6, 7, 8, 9, 74]

In [144]:
#List Indexing "[]"
list = [58,64,74,69,59]
print(list[0])
print(list[1])
print(list[2])
print(list[3])
print(list[4])
print(list[5])

58
64
74
69
59

IndexError: list index out of range

In [148]:
#List Slicing "[:]"

list = [6,8,7,4,2,3,4,5]

print(list[2:5])
print(list[1:6])
print(list[0:8])

print(list[0:4])

[7, 4, 2]
[8, 7, 4, 2, 3]
[6, 8, 7, 4, 2, 3, 4, 5]
[6, 8, 7, 4]

In [168]:
#List Inserting Data Into List: 

list = [75,85,35,48,96]
list[2] = 99
list.append(23)
list[5]=55
print(list[2])
print(list[3])
print(list[4])
print(list[0])

print(list)

99
48
96
75
[75, 85, 99, 48, 96, 55]

In [161]:
#Deleting Data from List:

list = [75,85,35,48,95]
del list[2]
del list[0]
del list[1]
del list[1]
print(list)

[85]

In [171]:
#Repetition "*"
list = [1,2,3,4,5,6,7,8,9 ]

print(list*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [173]:
#Concatenation '+'
list_1 = [1,2,3,4,5]
list_2 = [6,7,8,9]

list_3 = list_1 + list_2

print(list_3)
print(type(list_3))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
<class 'list'>

In [179]:
a = [1,2,3,4,5,6,7,8,9]

print(3 in a)
print(0 in a) 

print(3 not in a)

print(0 not in a)

print(len(a))

True
False
False
True
9

In [180]:
a = [1,2,3,4,5]

for i in a:
    print(i)

1
2
3
4
5

In [185]:
# Some of List Built-in Functions: 

a = [1,2,3,4,5]
print(len(a))

print(min(a))

print(max(a))

print(seq(a))

5
1
5

NameError: name 'seq' is not defined

In [195]:
#Some of List Built-in Methods: 

lst = [45,85,96,'siva']

lst.append(25)
print(lst)

lst.clear()

dr = lst.copy
print(dr)

print(lst)

[45, 85, 96, 'siva', 25]
<built-in method copy of list object at 0x000001F836F91600>
[]

In [203]:
lst = [45,55,65,75,85]

lst.remove(85)
del lst[2]
print(lst)

lst.reverse()

print(lst)

lst.sort()
print(lst)

[45, 55, 75]
[75, 55, 45]
[45, 55, 75]

In [207]:
lst = [20,12,45,23,16]

lst.sort()
print(lst)

print(max(lst))

print(list.count)

[12, 16, 20, 23, 45]
45
<built-in method count of list object at 0x000001F83709B4C0>

In [214]:
#Python Number Methods

a = 104578
print(type(a))
print(a)

b = 5.8
print(type(b))
print(b)

c = 2+3j
print(type(c))
print(c)

<class 'int'>
104578
<class 'float'>
5.8
<class 'complex'>
(2+3j)

In [218]:
a = 0b1010

print(type(a))
print(a)

b = 0o17
print(type(b))
print(b)

<class 'int'>
10
<class 'int'>
15

In [223]:
#Python Type Conversions: 
a = 56 #Interger Data Type converions to other data type

result = float(a)
print(type(result))
print(result)

<class 'float'>
56.0

In [226]:
b = 56.0

result = complex(b)
print(type(result))
print(result)

<class 'complex'>
(56+0j)

In [228]:
c = 8.4 #float Data Type

result = int(c)
print(type(c))
print(c)

<class 'float'>
8.4

In [230]:
d = 8+0j #Complex  Data Type

result = float(d)
print(type(result))
print(d)

TypeError: can't convert complex to float

In [233]:
a = (5,8,6,7,8,9)

print(max(a))

print(min(a))

9
5

In [236]:
print(abs(-9))

9

In [243]:
#Ceil Function
import math 
print(math.ceil(8.6))

9

In [245]:
#Floor Function
import math
print(math.floor(5.8))

5

In [246]:
#Max Function
a = (5,8,6,7,8,9)

print(max(a))

print(min(a))

9
5

In [247]:
print(pow(2,3))

8

In [250]:
print(round(28.8965742,2))

28.9

In [255]:
import math
print(math.sqrt(4))

2.0

In [259]:
#String Data Types # Strings are immutable --> unchanageable 

name = 'sriram'

print(type(name))
print(name)

name1 = "sriram"
print(type(name1))
print(name1)

name2 = '''sriram'''
print(type(name2))
print(name2)

name3 = """sriram"""
print(type(name3))
print(name3)

<class 'str'>
sriram
<class 'str'>
sriram
<class 'str'>
sriram
<class 'str'>
sriram

In [261]:
#Verious Operators in Strings
#Concatenation Operator
firstname = "Priya"
lastname = "Srinivas"
fullname = firstname + lastname

print(type(fullname))
print(fullname)

<class 'str'>
PriyaSrinivas

In [263]:
#Repetition Operator
name = "srinivas "

print(name*3)
print(type(name))

srinivas srinivas srinivas
<class 'str'>

In [265]:
#Slice Operator
name = "Srinivas"
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
print(name[5])
print(name[6])
print(name[7])

S
r
i
n
i
v
a
s

In [268]:
#Range Slice Operator

name = "Srinivas"

print(name[0:3])
print(name[0:5])
print(name[0:8])

Sri
Srini
Srinivas

In [272]:
#Membership Operator
name = "Srinivas"

print("r" in name)
print("S" in name)
print("i" in name)
print("n" in name)
print("a" in name)
print("v" in name)

True
True
True
True
True
True

In [274]:
##Membership Operator

name = "Srinivas"

print("r" not in name)
print("b" not in name)
print("v" not in name)
print("a" not in name)

False
True
False
False

In [283]:
#String Formatting
#Normal String Formating
name = "sriram"
age  = 9
height = 4.5
print("my name is",name,"my age is",age,"years", "my height is",height,"feet")
print("my name is %s my age is %d years my height is %f feet" %(name,age,height))
print("my name is {} my age is {} years my height is {} feet".format(name,age,height))

my name is sriram my age is 9 years my height is 4.5 feet
my name is sriram my age is 9 years my height is 4.500000 feet
my name is sriram my age is 9 years my height is 4.5 feet

In [291]:
#Strings methods 
#Find method
name = "sriram"
print(name.find('s'))
print(name.find('r'))
print(name.find('i'))
print(name.find('r'))
print(name.find('a'))
print(name.find('m'))

0
1
2
1
4
5

In [292]:
#Len method
name = "Sriram"

print(len(name))

6

In [293]:
#Lower()
name = "SRIRAM"

print(name.lower())

sriram

In [294]:
#Upper()
name = "sriram"

print(name.upper())

SRIRAM

In [296]:
#lstrip method
name = "      sriram"
print(name)
print(name.lstrip())

      sriram
sriram

In [300]:
#replace(old,new) method
name = "sriram"
print(name.replace(name,"Srinivas"))

Srinivas

In [305]:
#split() method
name = "c is good programming language"
print(name.split())

['c', 'is', 'good', 'programming', 'language']

In [306]:
#Swapcase Method 
name = "C is good programming language"
print(name.swapcase())

c IS GOOD PROGRAMMING LANGUAGE

In [313]:
#List Data Type

list = [56,87,41,25]
list1 = ["sriram",50,6.3]
print(type(list))
print(list)
print(list1)

<class 'list'>
[56, 87, 41, 25]
['sriram', 50, 6.3]

In [315]:
#List Indexing "[]"
list = [56,87,41,25]
print(type(list))

print(list[0])
print(list[1])
print(list[2])
print(list[3])

<class 'list'>
56
87
41
25

In [322]:
#List Slicing "[:]"

list = [56,87,41,25,89,52]
print(list[0:2])
print(list[0:3])
print(list[0:4])
print(list[0:5])
print(list[0:6])
print(list[:-1])

[56, 87]
[56, 87, 41]
[56, 87, 41, 25]
[56, 87, 41, 25, 89]
[56, 87, 41, 25, 89, 52]
[56, 87, 41, 25, 89]

In [325]:
#Inserting Data into List:
list = [75,85,35,48,96,52]
print(list)
list[2] = 99
print(list)

[75, 85, 35, 48, 96, 52]
[75, 85, 99, 48, 96, 52]

In [326]:
#Deleting Data from list
list = [75,85,35,48,96,52]
del list[3]
print(list)

[75, 85, 35, 96, 52]

In [328]:
#List Methods 
list = [1,2,3,4,5]
print(list*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [329]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]
print(a+b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [331]:
print(2 in a)

print(2 not in a)

True
False

In [332]:
for i in a:
    print(i)

1
2
3
4
5

In [333]:
len(a)

5

In [336]:
#Tuple Data Methods

tuple = (5,7,2,9)
tuple1 = ('krishna',25,6.8)
print(tuple)
print(tuple1)
print(type(tuple1))

(5, 7, 2, 9)
('krishna', 25, 6.8)
<class 'tuple'>

In [338]:
#Tuple Indexing "[]"

tuple = ('krishna',25,6.8)
print(tuple[0])
print(tuple[1])
print(tuple[2])

krishna
25
6.8

In [341]:
#Tuple Slicing "[:]"
tuple = ("krishna",25,6.8,5,8,7)
print(tuple[0:3])
print(tuple[3:6])
print(tuple[:])

('krishna', 25, 6.8)
(5, 8, 7)
('krishna', 25, 6.8, 5, 8, 7)

In [346]:
#Dictionary Data Type

dt = {'name':'krishna','age':25,'salary':40000,"company":'microsoft'}
print(type(dt))
print(dt)
print(dt.keys())
print(dt.values())

<class 'dict'>
{'name': 'krishna', 'age': 25, 'salary': 40000, 'company': 'microsoft'}
dict_keys(['name', 'age', 'salary', 'company'])
dict_values(['krishna', 25, 40000, 'microsoft'])

In [348]:
#Accessing Dictionary Data "[]":
print(dt['name'])
print(dt['age'])
print(dt['salary'])
print(dt['company'])

krishna
25
40000
microsoft

In [354]:
#Updating Dictionary Data: 
dt['name'] = "Srinivas"
dt['age'] = 27
dt['salary'] = 85000
dt['company']= "Amazon"
print(dt)
print(type(dt))

{'name': 'Srinivas', 'age': 27, 'salary': 85000, 'company': 'Amazon'}
<class 'dict'>

In [360]:
print(dt)
for i in dt:
    print(i)

{'name': 'Srinivas', 'age': 27, 'salary': 85000, 'company': 'Amazon'}
name
age
salary
company

In [369]:
dt = {'name':'Srinivas','age':27,'salary':85000,'company':'Amazon'}
print(dt)

for i in dt.items():
    print(i)

for i in dt:
    print(i)
    
for i in dt.values():
    print(i)
    
for i in dt:
    print(i)

for i,j in dt.items():
    print(i,j)

{'name': 'Srinivas', 'age': 27, 'salary': 85000, 'company': 'Amazon'}
('name', 'Srinivas')
('age', 27)
('salary', 85000)
('company', 'Amazon')
name
age
salary
company
Srinivas
27
85000
Amazon
name
age
salary
company
name Srinivas
age 27
salary 85000
company Amazon

In [380]:
#Python Set Methods;

Days = {"mon","Tue","Wed","Thu","Fri","Sat","Sun"}

print(type(Days))
print(Days)

for i in Days:
    print(i)

<class 'set'>
{'Sun', 'Fri', 'mon', 'Tue', 'Sat', 'Wed', 'Thu'}
Sun
Fri
mon
Tue
Sat
Wed
Thu

In [384]:
#Adding Set Data:
months = {"jan","Feb","Mar","Apr","May","Jun"}
print(months)

months.add("july")
print(months)

months.add("August")
print(months)

{'May', 'Feb', 'Jun', 'Apr', 'jan', 'Mar'}
{'May', 'Feb', 'Jun', 'Apr', 'july', 'jan', 'Mar'}
{'May', 'Feb', 'Jun', 'Apr', 'july', 'August', 'jan', 'Mar'}

In [394]:
#Adding more than one value to set data:

months.update(["sep","Oct","Nov","Dec"])
print(months)

#Removing Set Data:
months.remove("Nov")
months.remove("Non")
print(months)

{'May', 'Feb', 'Jun', 'sep', 'Apr', 'july', 'August', 'jan', 'Oct', 'Dec', 'Mar', 'Nov', 'Non'}
{'May', 'Feb', 'Jun', 'sep', 'Apr', 'july', 'August', 'jan', 'Oct', 'Dec', 'Mar'}

In [396]:
print(months)

{'May', 'Feb', 'Jun', 'sep', 'Apr', 'july', 'August', 'jan', 'Oct', 'Dec', 'Mar'}

In [399]:
#Union of sets:
days1 = {"Mon","Tue","Wed","Thu"}
days2 = {"fri","sat","sun"}

print(days1 | days2)
print(days1.union(days2))

{'sat', 'sun', 'Mon', 'Tue', 'fri', 'Wed', 'Thu'}
{'sat', 'sun', 'Mon', 'Tue', 'fri', 'Wed', 'Thu'}

In [403]:
#Intersection of Sets:
set1 = {"ayush","John","David","Martin"}
set2 = {"Steve","Milan","David","Martin"}

print(set1 & set2)  #using and "&" Operator
print(set1.intersection(set2))  #Using intersection method

#Set() is used for type conversion
a = [1,2,3,4,5]
set(a)

#Forzenset() --> is immutable set

b = frozenset(a)

{'Martin', 'David'}
{'Martin', 'David'}

In [ ]:
#Write a program to calculate the result of (a+b)*(a-b) [Number Data Type]
# 1. Find the result of (a+b)*(a-b)
#2. Algorithm:
#Define two variable a,b and assign 2 values to each variable
#add a&b and store result in variable x
#subtract b from a and store result in variable y
#multiply x*y and store result in variable"result
#print the "result" variable
#task complete
#Coding:
# a = 8
# b = 2
# x = (a+b)
# y = (a-b)
# result = x *y
# print(result)

In [404]:
a = 8
b = 2
x = (a+b)
y = (a-b)
result = x*y
print(result)

60

In [ ]:
# Write a program to concatenate two strings first name & lastname [ String Data Type]
# 1. Concatenate two strings firstname and lastname
# Algorithm:
# Step 1. Define two variable firstname, lastname and assign 2 strings to each variable
# Step 2. Concatenate two strings using "+" and store result in variable fullname
# Step 3. Print(fullname)
# Coding:
# firstname = "srinivas"
# lastname = "narmatha"
# fullname = firstname + lastname
# print(fullname)

# Execute the code
# Debug if error comes, debug the code
# Production : Deploy the program into production

In [408]:
# Write a program to concatenate two strings first name & lastname [ String Data Type]
firstname = "Srinivas"
lastname = "Narmatha"
fullname = firstname + lastname
print(fullname)

SrinivasNarmatha

In [ ]:
# Write a program to repeat exiting list elements by 2 times [ List Data Type]
# 1. Tesk: Repetition of list elements by 2 
# 2. Algorithm: 
# 1. Define a list with some data elements and store in a variable "lst"
# 2. use "*" to repeat the elements in lst by 2 (lst"*) and store result in variable "result"
# 3. print(result)

# Coding: 
# lst = [7,8,9]
# Result = lst*2
# print(result)

#Execute: execute the code
# Debug : if error comes, debug the code
# Production: Deploy the program into production

In [410]:
list = [7,8,9]
result = list*3
print(result)

[7, 8, 9, 7, 8, 9, 7, 8, 9]

In [411]:
# Write a program to display tuple elements using indexing [ Tuple Data Type]

tuple = (4,5,6,7,8,9)
print(tuple[0])
print(tuple[1])
print(tuple[2])
print(tuple[3])
print(tuple[4])
print(tuple[5])

4
5
6
7
8
9

In [415]:
# Write a program to display Dict elements using indexing [ Dictionary Data Type]
# 1 . Display of dictionary elements using key indexing

Dict = {"fruit":"apple","color":"red"}
print(Dict["fruit"])
print(Dict["color"])
print(Dict.keys())
print(Dict.values())
print(Dict.items())

apple
red
dict_keys(['fruit', 'color'])
dict_values(['apple', 'red'])
dict_items([('fruit', 'apple'), ('color', 'red')])

In [425]:
#Python Decision Making Statements
# If Statement

# Write a program to find the even number

num = int(input("enter the Number :"))
if num % 2 == 0:
    print("number is even")
else:
    print("number is odd")
print("Hello")
print("How are you")

enter the Number :14
number is even
Hello
How are you

In [428]:
# Write a program to find largest number among 3 given numbers 

num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))
num3 = int(input("Enter third number"))

if ((num1 > num2) and (num1 > num3)):
    print("largest number is:",num1)
if ((num2 > num1) and (num2 > num3)):
    print("largest number is:",num2)
if ((num3 > num1) and (num3 > num2)):
    print("largest number is:",num3)
print("this is code section will always execute irrespective of if condition")

Enter first number35
Enter second number45
Enter third number55
largest number is: 55
this is code section will always execute irrespective of if condition

In [435]:
# Write a program to check whether a person is eligible to vote or not

age = int(input("enter your age:"))
if (age>= 18):
    print("your are eligible to cast the vote")
else: 
    print("your are not eligible to cast the vote")

enter your age:19
your are eligible to cast the vote

In [437]:
# Write a program to check whether a number is even or not

num = int(input("Enter the number:"))
if num%2 == 0:
    print("given number is Even")
else:
    print("Given number is Odd")

Enter the number:3
Given number is Odd

In [439]:
# Write a program to find grade of student in exams

marks = int(input("Enter the marks"))
if (marks > 85 and marks <= 100):
    print("A-Grade")
elif (marks > 60 and marks <= 85):
    print("B-Grade")
elif (marks > 35 and marks <= 60):
    print("C-Grade")
else:
    print("Fail")

Enter the marks34
Fail

In [ ]:
# Python FOR Loop

for i in range(1,101):
    print(i)

In [443]:
# Write a program to print elements of a list

list = [5,8.6,6,"siva",2,4]

for i in list:
    print(i)

5
8.6
6
siva
2
4

In [444]:
# Write a Program to print elements of a Tuple.

Tuple = (5,8.6,6,"siva",2,4)

for i in Tuple:
    print(i)

5
8.6
6
siva
2
4

In [448]:
# Write a program to print elements of a dictionary
dct = {'name':'Srinivas','age':5,'school':'study','ground':'playing'}

for i in dct:
    print(i)
    
for i in dct.values():
    print(i)
    
for i in dct.items():
    print(i)
    
for i,j in dct.items():
    print(i,j)

name
age
school
ground
Srinivas
5
study
playing
('name', 'Srinivas')
('age', 5)
('school', 'study')
('ground', 'playing')
name Srinivas
age 5
school study
ground playing

In [1]:
# Write a program to print Multiplication table

num = int(input("enter the number:"))
for i in range(1,11):
    print("{}X{} = {}".format(num,i,num*i))

enter the number:5
5X1 = 5
5X2 = 10
5X3 = 15
5X4 = 20
5X5 = 25
5X6 = 30
5X7 = 35
5X8 = 40
5X9 = 45
5X10 = 50

In [ ]:
#While Loop

# Write a program to print numebrs from 1 to 100

i = 1
while (i<=100):
    print(i)
    i = i +1

In [5]:
#Write a program to print multiplication table
num = int(input("Enter a number:"))
i = 1 
while (i<=10):
    print("{}X{} ={}".format(num,i,num*i))
    i = i +1
print("task is completed")

Enter a number:2
2X1 =2
2X2 =4
2X3 =6
2X4 =8
2X5 =10
2X6 =12
2X7 =14
2X8 =16
2X9 =18
2X10 =20
task is completed

In [ ]:
while(1): #Infinate loop
    print("Hello")

In [ ]:
while(True):
    name = input("Enter your name :\n")
    print("Hello",name)

In [7]:
#Python Break Statement:

for i in range(1,11):
    if(i==5):
        break
    print(i)
print("came out of for loop")

1
2
3
4
came out of for loop

In [9]:
name = "krishna"
for i in name:
    if(i == "n"):
        break
    print(i)
print("came out of for loop")

k
r
i
s
h
came out of for loop

In [10]:
# Python Continue Statement

for i in range(1,11):
    if(i==5):
        continue
    print(i)
print("main line statement")

1
2
3
4
6
7
8
9
10
main line statement

In [11]:
name = "krishna"
for i in name:
    if(i == "n"):
        continue
    print(i)
print("main line statement")

k
r
i
s
h
a
main line statement

In [1]:
#Python Pass Statement

for i in range(1,100):
    pass

In [3]:
#Function
# Def defination 

def test(x,y):
    pass

In [5]:
test(23,45)

In [8]:
def add(a,b):
    print('a =',a)
    print('b =',b)
    result = a + b
    return(result)
x = add(4,8)
print(x)

a = 4
b = 8
12

In [10]:
#Enumerate()
# The  enumerate()method adds counter to an iterable and return it
# Syntax: enumerate(iterable, start =0)

numbers = [10,20,30,40]

for index, num in enumerate(numbers,10):
    print("index {0} has value {1}".format(index,num))

index 10 has value 10
index 11 has value 20
index 12 has value 30
index 13 has value 40

In [12]:
def find_positive_number(num):
    """This is function returns the positive number if num is positive"""
    if num > 0:
        return num

In [14]:
48/8

6.0

In [18]:
48/8,(14-8)

(6.0, 6)

In [19]:
def get_sum(lst):
    """this function returns the sum of all the elements in a list"""
    _sum = 0
    
    for num in lst:
        _sum += num
    return _sum

In [22]:
s = get_sum([1,2,3,4])
print(s)
print(type(s))

get_sum

10
<class 'int'>

In [23]:
lst = [1,2,3,4]
print(all(lst))

True

In [25]:
lst = (0,2,3,4) # 0 present in list is false
print(all(lst))

False

In [26]:
numbers = [1,2,3]

print(dir(numbers))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [27]:
print(divmod(9,2))

(4, 1)

In [28]:
#Enumerate
numbers = [10,20,30,40]

for index,num in enumerate(numbers,10):
    print("index {0} has value {1}".format(index,num))

index 10 has value 10
index 11 has value 20
index 12 has value 30
index 13 has value 40

In [30]:
def find_positive_number(num):
    if num > 0:
        return num

In [3]:
number_list = range(-10,10)
print(list(number_list))

positive_num_lst= list(filter(find_postive_number, number_list))

print(positive_num_lst)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

NameError: name 'find_postive_number' is not defined

In [5]:
#Isinstance 
lst = [1,2,3,4]
print(isinstance(lst,list))

t = (1,2,3,4)
print(isinstance(t,list))

True
False

In [6]:
numbers = [1,2,3,4]

squared = []
for num in numbers:
    squared.append(num ** 2)
print(squared)

[1, 4, 9, 16]

In [7]:
numbers = [1,2,3,4]

def poweroftwo(num):
    return num **2

#Using map() function
squared=list(map(poweroftwo, numbers))

print(squared)

[1, 4, 9, 16]

In [8]:
#Reduce function
product = 1
lst = [1,2,3,4]

for num in lst:
    product *= num
print(product)

24

In [12]:
from functools import reduce

def multiply(x,y):
    return x*y;

product = reduce(multiply,lst)
print(product)

24

In [13]:
bacon = 22
bacon +1

23

In [15]:
'spam' + 'spamspam'

'spamspamspam'

In [16]:
'spam'*3

'spamspamspam'