In [1]:
notes = 5
i = 1
while i < notes:
    print(i)
    i += 1
else:
    print("no 10 rs notes are available")

1
2
3
4
no 10 rs notes are available

In [8]:
name = "srinivas"

print(type(name))

<class 'str'>

In [1]:
cash_money = 2345

print(cash_money)

2345

In [2]:
_cash = 234512
print(_cash)

234512

In [8]:
for i in range (1,100):
    print(i)

In [9]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [10]:
print("Hello Python 101")

Hello Python 101

In [11]:
print("hello\nworld!")

hello
world!

In [12]:
print("hello world")

hello world

In [13]:
#print('hello world!')

In [14]:
int(1.0)

1

In [15]:
numbers = "0123456"
numbers[::2]

'0246'

In [16]:
"0123456".find('1')

1

In [17]:
3+2*2

7

In [18]:
name = 'Lizz'
print(name[0:2])

Li

In [19]:
var = '01234567'
print(var[::2])

0246

In [20]:
'1'+'2'

'12'

In [21]:
myvar='hello'
myvar.upper()

'HELLO'

In [25]:
B = ["a","b","c"]

B[1:]

['b', 'c']

In [26]:
S = {'A','B','C'}
U = {'A','B','C'}

U.union(S)

{'A', 'B', 'C'}

In [27]:
P1 = 0
P2 = 150
P3 = 250
n = int(input("Enter Age:"))
if n>=0 and n<=5:
    print("Ticket Price:",P1)

Enter Age:4
Ticket Price: 0

In [31]:
a =10
b = 20
(a+b)/2

15.0

In [33]:
a = 10
print(a)

10

In [39]:
a,b,c = 10,20,30
print(a,b,c)
print(c)

10 20 30
30

In [43]:
a=b=c=10
print(a)
print(b)
print(c)

10
10
10

In [49]:
a = 10
b = 30
c = 10
print(id(a))
print(id(b))
print(id(c))

140736016097312
140736016097952
140736016097312

In [53]:
x = 10
print(type(x))

y = 20.5
print(type(y))

z = 20+2j
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [63]:
name = "srinivas"
print(name)
print(type(name))
name1 = 'srinivas1'
print(name1)

srinivas
<class 'str'>
srinivas1

In [79]:
name = ['sriram','siva','lalitha','bharath']
age = [9,5,3,2,3,4,5,6,7,8]

print(age,name)
print(len(name))
print(name[1:4])

[9, 5, 3, 2, 3, 4, 5, 6, 7, 8] ['sriram', 'siva', 'lalitha', 'bharath']
4
['siva', 'lalitha', 'bharath']

In [83]:
dt = {'sriram':9,'siva':5,'lalitha':5}
print(type(dt))
print(dt.keys())
print(dt.values())

<class 'dict'>
dict_keys(['sriram', 'siva', 'lalitha'])
dict_values([9, 5, 5])

In [91]:
month = {'jan','feb','march','apr'}
print(type(month))
print(len(month))

<class 'set'>
4

In [92]:
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [98]:
rollnumber = input("enter your rollnumber" )

enter your rollnumber12345

In [100]:
print("srinivas")

print(rollnumber)

srinivas
12345

In [103]:
print((int(input("enter x value")) + int(input("enter y value"))))

enter x value40
enter y value50
90

In [106]:
a = 10
b = 10

a is not b

False

In [115]:
a = 10


if a <15:
    print(a)

10

In [117]:
if 24 < 15:
    print(" print if statement is true")
else: 
    print(" print if statement false")

 print if statement false

In [124]:
a = 10
b = 20 
print(a+b)
print(a)

30
10

In [125]:
name = "sriram"
age = 33
height = 5.7

print("my name is",name,"my age is", age,"my height is",height)

my name is sriram my age is 33 my height is 5.7

In [128]:
hero1,hero2,hero3 = "iron man","Captain America","Bat Man"
print(hero1)
print(hero2)
print(hero3)

iron man
Captain America
Bat Man

In [129]:
x = y = z = 23
print(x)
print(y)
print(z)

23
23
23

In [ ]:
# input function

In [135]:
number_1 = int(input("enter the first number :"))
number_2 = int(input("enter the second number :"))

sum = number_1 + number_2

print(sum)

enter the first number :23
enter the second number :23
46

In [138]:
my_string ="programming"  # Values from index 0 - 7 , 77-11 will be sliced

print(my_string[0:7])
print(my_string[7:11])
print(my_string[3:7])

program
ming
gram

In [139]:
print(my_string[0:10:2])

pormi

In [142]:
#String Concatenation

word_1 = "machine "
word_2 = "learning"

print(word_1+word_2)

machine learning

In [143]:
a = 7 > 3
print(a)
type(a)

True

bool

In [144]:
a = 7 < 4
print(a)
type(a)

False

bool

In [145]:
a = True
print(a)
type(a)

True

bool

In [146]:
b = False
print(b)
type(b)

False

bool

In [149]:
my_list = [1, "string ", 2.45,4,3,True] #lists are mutable --> changeable

print(my_list)
type(my_list)

[1, 'string ', 2.45, 4, 3, True]

list

In [152]:
my_list.append(6)

my_list

[1, 'string ', 2.45, 4, 3, True, 6, 6]

In [155]:
list_1 = [1,2,3,4,1,2,3,4]
print(list_1)
len(list_1)

[1, 2, 3, 4, 1, 2, 3, 4]

8

In [159]:
list_2 = [] #Initiating an empty list
list_2.append(5)
print(list_2)

[5]

In [166]:
list_2 = [1, "string ", 2.45,4,3,True]
print(list_2)

del list_2[2]
print(list_2)

[1, 'string ', 2.45, 4, 3, True]
[1, 'string ', 4, 3, True]

In [168]:
#Join two lists

list_3 = [1,2,3,4,5]
list_4 = [6,7,8,9,10]

list_5 = list_3 + list_4

print(list_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [169]:
#Tuple is immutable --> can't unchangeable

tuple_1 = (1,2,3,4,5)
print(tuple_1)
type(tuple_1)

(1, 2, 3, 4, 5)

tuple

In [170]:
#tuple allows mutiple datatypes

tuple_2 = (1,2,3,4,5, "machine learning", False)

print(tuple_2)

(1, 2, 3, 4, 5, 'machine learning', False)

In [172]:
#Converting a list to a tupel

my_list = [3,4,5,6]
print(my_list)

my_tuple = tuple(my_list)
print(my_tuple)

[3, 4, 5, 6]
(3, 4, 5, 6)

In [173]:
print(my_tuple[0])
print(my_tuple[1])

3
4

In [174]:
print(len(my_tuple))

4

In [175]:
#Set - mutable -- it's changeable --> curly brackets 

my_set = {1,2,3,4,5}
print(my_set)
type(my_set)

{1, 2, 3, 4, 5}

set

In [178]:
 #convert a list to a set
list_5 = [5,6,7,7,8,9]

x = set(list_5)
print(x)

{5, 6, 7, 8, 9}

In [179]:
#set does not allow duplicate values 
set_3 = {1,2,3,4,5,1,2,3}
print(set_3)

{1, 2, 3, 4, 5}

In [180]:
#Dictionary data type
# key-value Pair 
my_dictionary = {"name":"david","age":"30","country":"india"}
print(my_dictionary)
type(my_dictionary)

{'name': 'david', 'age': '30', 'country': 'india'}

dict

In [181]:
print(my_dictionary["name"])
print(my_dictionary["age"])
print(my_dictionary["country"])

david
30
india

In [183]:
#dictionary does not allow duplicate values
dictionary_2 = {"name":"david","age":"30","country":"india","name":"david","age":"30","country":"india"}
print(dictionary_2)

{'name': 'david', 'age': '30', 'country': 'india'}

In [ ]:
#Operators in Python:
#Arithmetic Operators
#Assignment Operators
#Comparison Operators
#Logical Operators
#Indentity Operators
#Membership Operators

In [191]:
#Arithmetic Operators

num_1 = 20
num_2 = 10

#Addition

sum = num_1 + num_2
print("sum = ",sum)

#subtraction
diff = num_1 - num_2
print("difference = ",diff)

#Multiplication
pro = num_1 * num_2
print("product = ",pro)

#division
quo = num_1 / num_2
print("quotient = ",quo)

#exponent
exp = num_1 ** num_2
print("exponent = ",exp)

#modulus
mod = num_1 % num_2
print("reminder = ",mod)

sum =  30
difference =  10
product =  200
quotient =  2.0
exponent =  10240000000000
reminder =  0

In [195]:
#assignment Operators
# +=
# -=
# *=
# **=
# /=
# %=

a = 5
print(a)

a += 5 #a = a + 5
print(a)

b = 5
b -= 2 #b = b-2
print(b)

5
10
3

In [199]:
#Comparison Operators

a = 5
b = 10 

print(a == b) #equal to
print(a != b) #not equal to
print(a > b) # greater than
print(a < b) # less than
print(a <= b)
print(a >= b)

False
True
False
True
True
False

In [206]:
#logical Operators
# And
# Or
# not

a = 10

print(a > 20 and a >5)
print(a > 20 or a >5)
print(not(a > 8 and a >5))

False
True
False

In [207]:
#Identity Operators

# is 
# is not

x = 5
y = 5

print(x is y)

True

In [209]:
x = 5
y = 10

print(x is not y)

True

In [212]:
#Membership Operators 

#in 
# not in

a = 5
b = 10

c = [1,2,3,4,5]
print(a not in c)
print(b not in c)

False
True

In [213]:
# simple if else statement

a = 30 
b = 50

if (a > b):
    print("a is the greatest number")
else:
    print("b is greatest number")

b is greatest number

In [215]:
a = int(input("enter the first number : "))
b = int(input("enter the second number : "))

if (a > b):
    print("first number is the greatest number")
else:
    print("second number is greatest number")

enter the first number : 16
enter the second number : 20
second number is greatest number

In [216]:
#if elif else statment

a = 15 
b = 25
c = 30

if (b<a>c):
    print("a is the greatest number")
elif(a<b>c):
    print("b is the greatest number")
else:
    print("c is the greatest number")

c is the greatest number

In [219]:
#nested if statement

a = 20
b = 40
c = 60 

if (a >b):
    if a(a>c):
        print("a is the greatest number")
    else:
        print("c is the greatest number")
else:
    if (b>c):
        print("b is the greatest number")
    else:
        print("c is the greatest number")

c is the greatest number

In [222]:
#For loop and While loop

laptop1 = int(input("enter the price of the laptop : "))

enter the price of the laptop : 20000

In [223]:
for i in range(5): #0,1,2,3,4,5
    laptop_price = int(input("enter the price of the laptop : "))

enter the price of the laptop : 20000
enter the price of the laptop : 30000
enter the price of the laptop : 40000
enter the price of the laptop : 50000
enter the price of the laptop : 6000

In [224]:
numbers = [50,100,150,200]

print(numbers[0])
print(numbers[1])
print(numbers[2])
print(numbers[3])

50
100
150
200

In [225]:
numbers = [50,100,150,200]

for i in numbers:
    print(i)

50
100
150
200

In [228]:
#While loop



i = 0

while i < 11:
    print(i)
    i += 1

0
1
2
3
4
5
6
7
8
9
10

In [229]:
i = 5

while i <3:
    prin(i)
    i += 1

In [ ]:
##Functions
#Function is a block of code that can be reused in a program

#Factorial of a NUmber
# Factorial of a number is the product of all the positive intergers less than or eqal to the given number

In [234]:
#factorial of 5 = 5x4x3x2x1 = 120

number = int(input("enter a number to find it's factorial : "))

factorial = 1

if number == 0:
    print("the factorial of 0 is 1")

else:
    for i in range(1, number+1):
        factorial = factorial*i
    print("the factorial of", number,'is ',factorial)

enter a number to find it's factorial : 10
the factorial of 10 is  3628800

In [245]:
def factorial_value(num):
    factorial = 1
    
    if num == 0:
        return factorial
    else:
        for i in range(1, num+1):
            factorial = factorial * i
        return factorial
print(factorial_value(5))

print(factorial_value(10))

print(factorial_value(6))

120
3628800
720